@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #222;
  text-align: center;
}
.effect {
  background: linear-gradient(145deg, #1f1f1f, #242424);
  box-shadow: 5px 5px 10px #141414, -0px -0px 10px #303030;
  box-shadow: inset 5px 5px 10px #141414, -0px -0px 10px #303030;
}
